{% load static %}
{% load cars_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Страница{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'post/styles.css' %}">
</head>
<body>
<div>
    <a href="{% url 'index' %}"><h2>Главная</h2></a>
    <a href="{% url 'create' %}"><h2>Добавить товар</h2></a>
    {% get_category as cats %}
    {% for c in cats %}
    <a href="{{ c.get_absolute_url }}"><h2>{{ c.name }}</h2></a>
    {% endfor %}

</div>


{% block content %}
{% endblock %}


</body>
</html>

<!-- {% for c in cats %}-->
<!--        <a href="{{ c.get_absolute_url }}"><h2>{{ c.name }}</h2></a>-->
<!--    {% endfor %}<br>-->

