{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Страница{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'post/styles.css' %}">
</head>
<body>

<nav class="navbar"><!--Навигационная панель-->
		<div class="logo"><a href="index.html" style="color: White;"><b>technicform.com</b></a></div><!--В css nav-links указан размер логотипа-->
		<ul class="nav-links"> <!--В css nav-links указан цвет ссылок-->
			<input type="checkbox" id="checkbox_toggle" /><!--Для скрытия, работы бургера-->
			<label for="checkbox_toggle" class="hamburger"><span class="hamburger-line"></span></label><!--Для скрытия, работы бургера-->
			<div class="menu"><!--В css указаны настройки меню шапки-->
				<li><a href="tel:+380689784967"><b>Tel. (068) 978 49 67</b></a></li><!--В css указаны настройки .menu li там где размер пикселей сверху-снизу- по краям-->
				<li><a href="https://telegram.me/technicform"><b>Telegram</b></a></li><!--В css указаны настройки .menu li там где размер пикселей сверху-снизу- по краям-->
            <li><a href="viber://chat?number=%2B380689784967"><b>Viber</b></a></li><!--В css указаны настройки .menu li там где размер пикселей сверху-снизу- по краям-->
            <li><a href="https://telegram.me/technicform_channel"><b>Telegram Channel</b></a></li><!--В css указаны настройки .menu li там где размер пикселей сверху-снизу- по краям-->
			</div>
		</ul>
	</nav>

{% block content %}
{% endblock %}


</body>
</html>