{% extends 'post/base.html' %}
{% block title %}
{{ current_cats.name }}
{% endblock %}
{% block content %}


<ul>
    {% for c in cars %}
    <li><h2>{{ c.brand}}</h2></li>
    <img src="{{ c.image.url }}">
    <li><h3>Описание:</h3><p>{{ c.description }}</p></li>
    <li><h3>Цена: {{ c.price}} грн.</h3></li>
    <li>{{ c.update }}</li>
    <li><h3>Опубликовано: </h3>{{ c.published|date:'d.m.Y H:i:s' }}</li>
    <li><a href="{% url 'cars_info' c.slug %}"><h2>Информация</h2></a></li>
    <hr>
    <br>
    {% endfor %}
</ul>
{% endblock %}
