:root{  /*Переменные цветов*/
	--white: #f9f9f9;
	--red: #333;
	--grey: #f3f3f3;
	--grey2: #e7e7e7;
	--grey3: #4169E1;/*Цвет текста в меню шапки при наведении*/
}  /*Переменные цветов*/


* {  /*Сброс стилей*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}  /*Сброс стилей*/


body {  /*Обьявление шрифта для body*/
	background-color: #F5F5F5; /*Цвет фона окна*/
	font-family: "Lato"; /*Стандартный шрифт Lato (Подключенный по ссылке вверху)*/
	font-weight: 300;/*Размер стандартного шрифта*/
	font-size: 16px;/*Размер стандартного шрифта*/
	color: #555;/*Цвет стандартного шрифта*/
	min-width: 320px; /*Чтобы ширина экрана не была меньше этого значения*/

	-webkit-font-smoothing: antialiased;/*Сглаживание шрифта для мобильных устройств или когда увеличиваем буквы*/
    -webkit-overflow-scrolling: touch;/*Для скроллинга тачем*/


}  /*Обьявление шрифта для body*/


a {  /*Убераем подчеркивание для ссылок*/
	text-decoration: none;
}  /*Убераем подчеркивание для ссылок*/

li {  /*Убераем маркеры для элементов списка*/
	list-style: none;
}  /*Убераем маркеры для элементов списка*/


.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: var(--red); /*Цвет из переменной вверху списка css*/
	color: var(--white); /*Цвет из переменной вверху списка css*/
}

.nav-links a {  /*Цвета ссылок в шапке*/
	color: var(--white); /*Цвет из переменной вверху списка css*/
}  /*Цвета ссылок в шапке*/

.logo {  /*Размер логотипа*/
	font-size: 30px;
}  /*Размер логотипа*/

.menu {  /*Настройки меню шапки*/
	display: flex;
	font-size: 18px;
}  /*Настройки меню шапки*/

.menu li {  /*Меню и элементы списка*/
    padding: 5px 15px;/*сверху и снизу по 5 пикселе, по краям по 15 пикселей*/
}  /*Меню и элементы списка*/

.menu li a:hover {  /*При наведении на ссылку в меню шапки*/
	transition: all .3s; /*Плавность*/
	color: var(--grey3); /*Меняет цвет текста в шапке при наведении. Цвет из переменной вверху списка css*/
}  /*При наведении на ссылку в меню шапки*/


#checkbox_toggle {
	display: none; /*чекбокс изначально скрыт*/
}

.hamburger {
	display: none;
	font-size: 24px;
	cursor: pointer;
}

.hamburger-line {
	background-color: var(--white);
	display: block;
	height: 2px;
	position: relative;
	width: 24px; /*ширина гамбургера*/
}

.hamburger-line::before,
.hamburger-line::after {
	background-color: var(--white);
	content: '';
	display: block;
	position: absolute;
	transition: all .3s; /*анимирование гамбургера*/
	width: 100%; /*вид 100%*/
	height: 100%;
}

.hamburger-line::before {
	top: 7px;
}

.hamburger-line::after {
	top: -7px;
}



@media (max-width: 768px) {

	.menu {
		/*display: none;*//*при меньше 768 пикселей меню скрывается*/
		max-height: 0;
		overflow: hidden;
		position: absolute;
		background-color: var(--grey);
		text-align: center; /*Центрировать меню*/
		right: 0; /*Чтобы шторка меню растянулась на всю ширину*/
		left: 0; /*Чтобы шторка меню растянулась на всю ширину*/
		margin-top: 20px;/*Отступ чтобы шторка не вылазила на шапку меню*/
	}

	.menu li a {
		color: var(--grey3);
		display: block;
		padding: 15px;
	}

	.menu li {
		transition: all .5s;
	}

	.menu li:hover {
        background-color: var(--grey2);
	}

	.hamburger {/*Показать гамбургер при уменьшении экрана*/
	    display: block;/*Показать гамбургер при уменьшении экрана*/
	    padding: 20px 0;
    }/*Показать гамбургер при уменьшении экрана*/

    #checkbox_toggle:checked ~ .menu {
    	display: block;
    	max-height: 100%;
    	transition: all .5s;
    }
}